body{
    background-color: rgba(140, 135, 222, 0.23);
}

.ligne,
.debug {
    float: left;
    position: relative;
    width: 100%;
}

a{
    padding: 10px;
    border-radius: 10px;
}

a:hover{
    background-color: coral;
}

.existant {
    float: left;
    width: 100%;
    padding: 10px;
    height:360px;
}

.existant .ligne{
    float: left;
    width: 25%;
}

.existimg {
    float: left;
    width: calc(100% - 20px);
    padding: 5px;
    height:calc(30% + 300px);

}
.existimg .ligne{
    float: left;
    width: 100%;
}
.existant img {
    float: left;
    height: 270px;
    padding: 2px;
}
.existant a.anchor {
    margin-top: 0;
    position: absolute;
}
.produits img {
    width: 600px;
    height: auto;
}

.produits {
    float: left;
    width: 600px;
    height: 650px;
    padding:5px;
    background-color: #BDBEE4;
}
.row1, .row0{
    float: left;
    width: calc(50% - 30px);
    margin: 10px;
    border: 1px solid;
    height: 420px;
}

.row1 img, .row0 img{
    padding: 2px;
}

.row1 span, .row0 span{
    color: coral ;
}