@import "Images.css";

.suite{
    background-color: #5a3232;
    color: gold;
    padding: 7px;
    padding-bottom: 4px;
    border-bottom: 1px solid gold;
}

.produits {
    background-color: rgba(230, 198, 165, 0.07);
    border-radius: 10px;
}

.sans{
}

.ecarte{
    background-color: rgba(208, 96, 53, 0.12);
}

.conserve{
    background-color: rgba(65, 150, 43, 0.23);
}
.production{
    border-radius: 5px;
    padding: 10px;
    background-color: #6ca6ef;
}