@import "Images.css";

.suite{
    background-color: #5a3232;
    color: gold;
    padding: 7px;
    padding-bottom: 4px;
    border-bottom: 1px solid gold;
}

.produits {
    background-color: rgba(230, 198, 165, 0.07);
}
