.produits img {
    border: 1px solid;
    margin: 10px;
}

.produits a{
    padding: 0;
    border-radius: inherit;
    color: #ce3d05;
}

.produits {
    padding: 15px;
    border: 1px solid;
    margin: 10px;
}

.produits form{

}

.produits .ligne{
    float: none;
}
