body{
    background-color: rgba(140, 135, 222, 0.04);
}

#homme {
    margin: 0 auto;
    width: 30%;
    margin-top: 150px ;
}
#homme .titre{
    width: 100%;
    float: left;
    height: 180px;
    font-size: 1.8em;
}

#homme .liste{
    width: 100%;
    float: left;
    height: 225px;
}
#homme ul li{
    height: 50px;
    font-size: 0.8em;
    list-style: none;
    margin-left: -50px;
}
#homme ul li a:link {
    background-color: aqua;
}

.form{
    float: left;
    width: 50%;
}
.recherche{
    border: 1px solid gold;
    height: 70px;
    padding: 15px;
}
.ligne h2{
    text-align: center;
}

.ligne,
.debug {
    float: left;
    position: relative;
    width: 100%;
}

h1{
    background-color: #5da550;
    padding: 0px;
    margin: 0px;
    color: antiquewhite;
    text-align: center;
}
.suite{
    background-color: #5da550;
    color: gold;
    padding: 7px;
    padding-bottom: 4px;
    border: 1px solid gold;
}

.suite>div{
    padding-top: 7px;
}

a{
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-decoration: none;
    color: white;
}

a:hover, a.actif {
    background-color: gold;
    color: lightslategrey;
}

a.page {
    padding: 2px;
    border-radius: 13px;
    text-decoration: none;
    color: white;
    background-color: #ce3d05;
    color: #e5ebec;
    border: 1px solid;
    font-weight: bold;
}

a.page:hover{
    background-color: #e5ebec;
    color: #d48e0f;
}

.existant {
    float: left;
    width: 100%;
    padding: 10px;
    height:360px;
}

.existant .ligne{
    float: left;
    width: 25%;
}

.existimg {
    float: left;
    width: calc(100% - 20px);
    padding: 5px;
    height:calc(30% + 300px);

}
.existimg .ligne{
    float: left;
    width: 100%;
}
.existant img {
    float: left;
    height: 270px;
    padding: 2px;
}
.existant a.anchor {
    margin-top: 0;
    position: absolute;
}
.produits img {
    width: 600px;
    height: auto;
}

.produits {
    float: left;
    width: 600px;
    height: 650px;
    padding:5px;
    background-color: #BDBEE4;
}
.row1, .row0{
    float: left;
    width: calc(50% - 30px);
    margin: 10px;
    border: 1px solid;
    height: 420px;
}

.row1 img, .row0 img{
    padding: 2px;
    border: 1px solid;
    border-color: darkcyan;
}

.row1 span, .row0 span{
    color: coral ;
}

label {
    float: left;
    color: coral;
    width: 120px;
    height: 20px;
    text-align: right;
    padding-right: 5px;
}

.info div {
    float: left;
    width: 530px;
}